:root {
    --primary-bg-color: #09090b;
    /* #181818; */
    --secondary-bg-color: #27272a;
    /* #27272a; */
    --text-color: white;
    --accent-color: #4b5563;
    /* rgba(94, 114, 155, 0.75); */
    /* #333333; */
}

::selection {
    background: var(--accent-color);
    color: black;
    text-shadow: none;
}

html,
body {
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

body {
    /* font-family: sans-serif; */
    width: 500px;
    /* 447px; */
    min-height: 530px;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin: 3px;
    padding: 5px;
    color: var(--text-color);
    background: var(--secondary-bg-color);
}

.tabs {
    display: flex;
    border-bottom: 1px solid #aaaccc;
    background-color: var(--primary-bg-color);
}

.tab {
    flex: 1;
    text-align: center;
    padding: 8px;
    cursor: pointer;
    user-select: none;
}

.tab.active {
    background: var(--secondary-bg-color);
    color: var(--text-color);
    box-shadow: 0 3px 0 0 var(--accent-color);
}

.tab-content {
    display: none;
    padding: 10px;
    padding-top: 30px;
}

.tab-content.active {
    display: block;
}

.editor {
    display: none;
    margin-top: 4px;
    padding: 6px;
    background: var(--secondary-bg-color);
    border-radius: 0px;
}

li.expanded .editor {
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    color-scheme: dark;
    border-radius: 0;
}

button {
    cursor: pointer;
    background-color: var(--accent-color);
    /* #5c7aa1; */
    /* #374151; */
    /* rgb(94, 114, 155); */
    /* rgb(120, 130, 150); */
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    font-size: 12px;
}

.save-message {
    display: inline-block;
    margin-left: 10px;
    font-size: 12px;
    color: green;
}

#addCookieForm {
    background: var(--secondary-bg-color);
}

/*  */
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    margin-bottom: 6px;
    /* border: 1px solid #ccc; */
    background: var(--secondary-bg-color);
    transition: background 0.2s;
}


.profile small {
    color: var(--text-color);
}

.profile-buttons {
    display: flex;
    gap: 6px;
}

.small-btn,
.profile button {
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    /* border: none; */
    background: var(--secondary-bg-color);
    transition: background 0.2s;
}


.profile button:hover {
    background: var(--accent-color);
}


.profile button.apply.active {
    background: #aaccaa;
    color: black;
}


.status {
    margin-bottom: 10px;
    padding: 6px;
    font-size: 13px;
    text-align: center;
}

.status.active {
    background: var(--secondary-bg-color);
    color: var(--text-color);
}

.status.system {
    background: var(--secondary-bg-color);
    color: var(--text-color);
}

/*  */



.row {
    margin: 6px 0;
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #444; */
    padding: 6px 10px;
    margin: 5px 0;
}

.profile.active {
    background: var(--secondary-bg-color);
    border-color: #2ecc71;
}

.profile-buttons {
    display: flex;
    gap: 6px;
}

.small-btn {
    padding: 4px 8px;
    /* border: none; */
    cursor: pointer;
}

.small-btn.active {
    background: #2ecc71;
    /* border: none; */
    color: white;
}

#proxy-form {
    border: 1px solid #333;
    padding: 10px;
    background: var(--secondary-bg-color);
}

.form-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.message {
    margin-top: 6px;
    font-size: 13px;
    padding: 4px 8px;
    display: none;
}

.message.success {
    background: #2ecc71;
    color: white;
}

.message.error {
    background: #e74c3c;
    color: white;
}

.status {
    margin: 6px 0;
    font-size: 13px;
    opacity: 0.8;
}

.system-btn {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
}

/*  */

.row-xss {
    display: grid;
    grid-template-columns: 70px 50% auto auto;
    gap: 10px;
    align-items: center;
    margin-bottom: 8px;
}

fieldset {
    border: 1px solid white;
    /* padding: 8px; */
    margin-top: 10px;
    background-color: var(--secondary-bg-color);
}

.payload-row {
    display: grid;
    grid-template-columns: 60px 1fr auto;
    gap: 8px;
    align-items: center;
    margin-bottom: 6px;
}

.message {
    /* height: 20px; */
    background: var(--primary-bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    /* padding-left: 8px; */
    /* margin-top: 8px; */
}

.hidden {
    display: none;
}